<table class="table table-bordered">
	<tr>
		<th>Tanggal</th>
		<th>Personnel | Posisi</th>
	</tr>
	<% @schedules.each do |s| %>
		<tr>
			<td>
				<%= (s.perform_date).strftime('%d-%m-%Y') %>
			</td>
			<td>
				<% Schedule.res_position(s.id).each_with_index do |p, i| %>
					<%= i+1 %>. 
					<%= p.personnel.name %> | 
					<%= p.position.name %> | 
					<%= link_to 'Hapus', resume_path(p), method: :delete, data: {confirm: 'Yakin?'} %><br>
				<%end%>
			</td>
		</tr>
	<%end%>
</table>