<% if @schedule.errors.any? %>
	<div class="alert alert-danger">
		<h2>Terdapat <%= @schedule.errors.size %> error</h2>
		<% @schedule.errors.full_messages.each do |e| %>
			<%= e %>
		<%end%>
	</div>
<%end%>
<%= form_for :schedule, url: schedules_path, method: :post do |f| %>
	<%= f.label :perform_date %>
	<%= select("schedule", "perform_date", @schedule.range.select{|p| [p]} ) %>
	<%= f.submit %>
<%end%>
