<!DOCTYPE html>
<html>
  <head>
    <title>Ceband</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %> <!-- link untuk ngambil bootstrap online-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="alert alert-success">
    <%if user_signed_in?%>
      <%= link_to 'Personil', personnels_path %> | 
      <%= link_to 'Position', positions_path %> | 
      <%= link_to 'Jadwal', schedules_path %> || 
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <%else%>
      <%= link_to 'Sign Up', new_user_registration_path %> | 
      <%= link_to 'Login', new_user_session_path %>
    <%end%>
    </div>

    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
